/************
SET THE VARIABLES YOU USE IN YOUR PROJECT
Like colors, page width, breakpoints etc.
*************/

//Colors
$color-primary: green;

//Layout
$max-page-width: 1440px;

//Breakpoints
$breakpoint-small: 680px;
$breakpoint-medium: 1020px;
$breakpoint-large: 1440px;

//Font Sizes
$h1-size: 4rem;
$h2-size: 2rem;
$body-size: 1.4rem;
$small-size: 1.2rem;


/*********
*
* Mixins we use
*

/*********
Mixins
**********/

@mixin bp-small {
  @media (min-width: #{$breakpoint-small}) {
    @content;
  }
}

@mixin bp-medium {
  @media (min-width: #{$breakpoint-medium}) {
    @content;
  }
}

@mixin bp-large {
  @media (min-width: #{$breakpoint-large}) {
    @content;
  }
}

//targets IE11
@mixin IE11 {
  @media all and (-ms-high-contrast:none) {
    @content;
  }
}

